@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@1,200&family=Roboto:wght@500&display=swap');

$txt-header:'Lobster', 'cursive';
$txt-titleCard:'Roboto', 'sans-serif';
$txt-card:'Raleway', 'sans-serif';