@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@1,200&family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@500&display=swap');

$txt-header:'Lobster', 'cursive';
$txt-title:'Montserrat', 'sans-serif';
$txt-main:'Inter', 'sans-serif';
$txt-card:'Segoe UI','sans-serif';
