@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@1,200&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

html {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: none;
}

body {
  background-color: rgb(151, 144, 144);
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px #000000;
  height: 60px;
}
header #txt-header {
  font-family: "Lobster", "cursive";
  font-size: 1.8rem;
  color: #172b4d;
}
header #txt-header i {
  font-size: 1.2em;
}
header .nav-header {
  padding: 25px;
}
header .nav-header ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 18px;
}
header .nav-header .icon-nav {
  font-size: 2em;
  color: #172b4d;
}

main {
  padding: 2em;
  transition: 0.5s all;
}
main .todo-ColumnControls {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 60px;
}
main .todo-ColumnControls .todo-addcolumn {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  position: relative;
}
main .todo-ColumnControls .todo-addcolumn .input-column {
  height: 30px;
  width: 280px;
  text-align: center;
  border: none;
  border-radius: 7px;
  box-shadow: 1px 1px 4px #000000;
  font-family: "Montserrat", "sans-serif";
  font-size: 1em;
}
main .todo-ColumnControls .todo-addcolumn .input-column:focus {
  outline: none;
}
main .todo-ColumnControls .todo-addcolumn #btn-addcolumn {
  background-color: transparent;
  color: none;
  border: none;
  position: absolute;
  padding-left: 10px;
}
main .todo-ColumnControls .todo-addcolumn .iconAddColumn {
  font-size: 1.9em;
  color: #172b4d;
  cursor: pointer;
}
main .todo-ColumnControls .bgColor {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 4px #000000;
}
main .todo-ColumnControls .bgColor .iconBgColor {
  font-size: 1.4em;
  color: #172b4d;
}
main .todo-ColumnControls .bgColor #input-colorTheme {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 30px;
  height: 32px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
main .todo-ColumnControls .bgColor #input-colorTheme::-webkit-color-swatch {
  border: 1px solid rgba(0, 0, 0, 0.144);
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2470588235);
}
main .todo-ColumnControls .filter-todo {
  position: relative;
  width: 140px;
  height: 30px;
}
main .todo-ColumnControls .filter-todo .filterIcon {
  position: absolute;
  font-size: 1.3em;
  color: #172b4d;
  top: 20%;
  left: 5px;
}
main .todo-ColumnControls .filter-todo #filter {
  box-shadow: 1px 1px 4px #000000;
  width: 160px;
  height: 30px;
  border-radius: 8px;
  text-align: center;
  border: none;
  font-size: 1em;
  font-family: "Montserrat", "sans-serif";
  color: #172b4d;
}

.modalEditColumn {
  display: none;
  background-color: rgba(0, 0, 0, 0.1764705882);
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: 0.3s all;
}
.modalEditColumn.active {
  display: flex;
}
.modalEditColumn .modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 15px;
  width: 390px;
  height: 120px;
  border-radius: 8px;
  background-color: #F0F8FF;
}
.modalEditColumn .modal #titleModalEdit {
  font-family: "Inter", "sans-serif";
  font-size: 1.3em;
  color: #172b4d;
  font-weight: 500;
}
.modalEditColumn .modal #editColumn {
  width: 18.75em;
  height: 25px;
  outline: none;
  font-family: "Inter", "sans-serif";
  padding-left: 8px;
  font-size: 19px;
  border: 1px solid #172b4d;
  border-radius: 5px;
  color: #172b4d;
}
.modalEditColumn .modal .closeModalEdit {
  font-size: 30px;
  color: #ff0000;
  cursor: pointer;
  align-self: flex-end;
}
.modalEditColumn .modal .doneModalEdit {
  font-size: 30px;
  color: #1bbb35;
  cursor: pointer;
  align-self: flex-start;
}

.todo--container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.todo--container .todo-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  height: auto;
  gap: 100px;
}
.todo--container .todo-column .column--components {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  width: 300px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 1px 5px;
  padding: 10px;
  position: relative;
}
.todo--container .todo-column .column--components .btn-cardEditColumn,
.todo--container .todo-column .column--components .btn-cardDelColumn {
  cursor: pointer;
  font-size: 17px;
}
.todo--container .todo-column .column--components .btn-cardEditColumn {
  color: #172b4d;
}
.todo--container .todo-column .column--components .btn-cardDelColumn {
  color: #ff0000;
}
.todo--container .todo-column .column--components .btn--column {
  display: flex;
  gap: 12px;
  position: absolute;
  padding-right: 8px;
  right: 0;
}
.todo--container .todo-column .column--components .column-title {
  margin-top: 12px;
  font-family: "Montserrat", "sans-serif";
  font-size: 17px;
  text-align: center;
  padding-top: 5px;
  color: #172b4d;
}
.todo--container .todo-column .column--components .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  width: 260px;
  box-shadow: 1px 1px 4px #000000;
  height: auto;
  font-family: "Inter", "sans-serif";
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  padding: 10px;
  gap: 25px;
  color: #172b4d;
}
.todo--container .todo-column .column--components .card .card-icons {
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: left;
  border-top: 1px solid grey;
  padding-top: 8px;
  padding-left: 10px;
}
.todo--container .todo-column .column--components .card .card-icons .btn-cardDone,
.todo--container .todo-column .column--components .card .card-icons .btn-cardEdit,
.todo--container .todo-column .column--components .card .card-icons .btn-cardDel {
  cursor: pointer;
  font-size: 14px;
}
.todo--container .todo-column .column--components .card .card-icons .btn-cardDone {
  color: #1bbb35;
}
.todo--container .todo-column .column--components .card .card-icons .btn-cardEdit {
  color: #797979;
}
.todo--container .todo-column .column--components .card .card-icons .btn-cardDel {
  color: #ff0000;
}
.todo--container .todo-column .todo-add {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.todo--container .todo-column .todo-add #input-add-todo {
  border: none;
  height: 22px;
  text-align: center;
  font-size: 18px;
  width: 260px;
}
.todo--container .todo-column .todo-add #input-add-todo:focus {
  outline: none;
}
.todo--container .todo-column .todo-add .btn--todoadd {
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #172b4d;
}/*# sourceMappingURL=style.css.map */