@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@1,200&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

html {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: none;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgb(151, 144, 144);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  background-color: rgba(117, 115, 115, 0.432);
  box-shadow: 0px 0px 5px #000000;
  padding: 0 20px;
  height: auto;
  width: 100%;
  z-index: 2;
}
@media (max-width: 540px) {
  header {
    flex-wrap: wrap;
    padding: 5px 5px;
    gap: 15px;
  }
}
header .h-logo {
  display: flex;
  align-items: center;
}
@media (max-width: 482px) {
  header .h-logo {
    width: 100%;
    justify-content: center;
  }
}
header .h-logo .img__logo {
  width: 40px;
}
@media (max-width: 540px) {
  header .h-logo .img__logo {
    width: 30px;
  }
}
header .h-logo #h-text {
  font-weight: 800;
  font-size: 1.4rem;
  font-family: "Montserrat", "sans-serif";
  color: #ffffff;
}
@media (max-width: 540px) {
  header .h-logo #h-text {
    font-size: 1.2rem;
  }
}
header .settings {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
@media (max-width: 965px) {
  header .settings {
    gap: 15px;
  }
}
header .settings .settings__inputColor {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 65px;
}
header .settings .settings__inputColor .inputColor__icon {
  font-size: 1.4em;
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.486);
}
@media (max-width: 540px) {
  header .settings .settings__inputColor .inputColor__icon {
    font-size: 1.2em;
  }
}
header .settings .settings__inputColor #inputColor--setColor {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 30px;
  height: 32px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 540px) {
  header .settings .settings__inputColor #inputColor--setColor {
    width: 26px;
    height: 28px;
  }
}
header .settings .settings__inputColor #inputColor--setColor::-webkit-color-swatch {
  border: 1px solid rgba(0, 0, 0, 0.144);
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2470588235);
}
header .settings .settings__filter {
  position: relative;
  padding-left: 12px;
  width: 135px;
  height: 30px;
}
header .settings .settings__filter .filterIcon {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 1.3em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.37);
  color: #ffffff;
}
@media (max-width: 540px) {
  header .settings .settings__filter .filterIcon {
    font-size: 1.2em;
  }
}
@media (max-width: 600px) {
  header .settings .settings__filter .filterIcon {
    right: 72px;
  }
}
@media (max-width: 390px) {
  header .settings .settings__filter .filterIcon {
    right: 85px;
  }
}
header .settings .settings__filter #filter__select {
  cursor: pointer;
  color: #ffffff;
  width: 100%;
  height: 30px;
  border: none;
  background-color: transparent;
  border-radius: 8px;
  font-size: 1em;
  font-family: "Montserrat", "sans-serif";
  font-weight: 700;
  text-align: center;
  outline: none;
}
header .settings .settings__filter #filter__select option {
  background-color: #8a8989;
  font-weight: 700;
}
@media (max-width: 540px) {
  header .settings .settings__filter #filter__select {
    font-size: 0.95em;
  }
}
header .settings .settings__imageBackground .btn--setImageBackground {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  font-family: "Montserrat", "sans-serif";
  color: #ffffff;
}
header .settings .settings__imageBackground .btn--setImageBackground .btn__iconImg {
  font-size: 1.3em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.37);
  color: #ffffff;
}
@media (max-width: 540px) {
  header .settings .settings__imageBackground .btn--setImageBackground .btn__iconImg {
    font-size: 1.1em;
  }
}
@media (max-width: 914px) {
  header .settings .settings__imageBackground .btn--setImageBackground p {
    display: none;
  }
}
header .settings .settings__imageBackground .btn--setImageBackground.isHidden {
  display: none;
}
header .settings .settings__imageBackground .btn--RemoveBg {
  display: none;
  gap: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  font-family: "Montserrat", "sans-serif";
  color: #ffffff;
}
header .settings .settings__imageBackground .btn--RemoveBg .btn__iconImg {
  font-size: 1.3em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.37);
  color: #ffffff;
}
@media (max-width: 540px) {
  header .settings .settings__imageBackground .btn--RemoveBg .btn__iconImg {
    font-size: 1.1em;
  }
}
@media (max-width: 914px) {
  header .settings .settings__imageBackground .btn--RemoveBg p {
    display: none;
  }
}
header .settings .settings__imageBackground .btn--RemoveBg.isActive {
  display: flex;
  align-items: center;
  flex-direction: row;
}
header nav {
  position: relative;
}
header nav .nav__menuBtn {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
}
header nav .nav__menuBtn .menu--btn {
  font-size: 1.3em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.37);
  color: #ffffff;
  opacity: 1;
  transition: 0.4s ease-in-out;
}
header nav .nav__menuBtn .menu--btn.active {
  opacity: 0;
}
header nav .nav__menuBtn .menu--btnClose {
  opacity: 0;
  font-size: 1.3em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.37);
  color: #ffffff;
  transition: 0.3s ease-in-out;
}
header nav .nav__menuBtn .menu--btnClose.active {
  opacity: 1;
  transform: translateX(-20px);
}
header nav .menu__list {
  position: absolute;
  transform: translateX(400%);
  text-transform: uppercase;
  top: 35px;
  right: 0;
  width: 180px;
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(128, 128, 128, 0.445);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 2px;
  padding: 10px;
  transition: 0.3s ease-in-out;
}
header nav .menu__list.active {
  transform: translateX(0%);
}
header nav .menu__list .menu__link {
  cursor: pointer;
  position: relative;
}
header nav .menu__list .menu__link a {
  font-size: 14px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 800;
  color: #ffffff;
}
header nav .menu__list .menu__link::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #bcbdbe;
  transition: 0.3s ease-in-out;
}
header nav .menu__list .menu__link:hover::after {
  width: 100%;
}
header nav .menu__list .portfolio {
  width: 100%;
  text-align: center;
}
header nav .menu__list .portfolio a {
  position: relative;
  font-size: 12px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 800;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}
header nav .menu__list .portfolio a::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #bcbdbe;
  transition: 0.3s ease-in-out;
}
header nav .menu__list .portfolio a:hover::after {
  width: 100%;
}
@media (max-width: 420px) {
  header nav .menu__list {
    width: 100vw;
    top: 22px;
    right: -15px;
  }
}

.modalImagesBg {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2745098039);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 2;
}
.modalImagesBg.active {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modalImagesBg .galleryImages {
  position: relative;
  background-color: white;
  border-radius: 5px;
  width: 60vw;
  height: 80vh;
}
.modalImagesBg .galleryImages .closeGallery {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 2px;
  color: rgba(94, 92, 92, 0.6156862745);
}
@media (max-width: 860px) {
  .modalImagesBg .galleryImages {
    width: 90vw;
  }
}
.modalImagesBg .galleryImages .galleryImages__header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
}
.modalImagesBg .galleryImages .galleryImages__header img {
  width: 80px;
  height: 100%;
}
.modalImagesBg .galleryImages .galleryImages__header span {
  width: 65%;
  position: relative;
}
.modalImagesBg .galleryImages .galleryImages__header span i {
  position: absolute;
  top: 10%;
  left: 3px;
  color: #8a8787;
}
.modalImagesBg .galleryImages .galleryImages__header span #searchImages {
  background-color: #e9e9e9;
  border: none;
  border-radius: 5px;
  outline: none;
  font-family: "Inter", "sans-serif";
  text-align: center;
  width: 100%;
  padding: 3px;
}
.modalImagesBg .galleryImages .galleryImages__header span .error {
  opacity: 0;
  font-family: "Inter", "sans-serif";
  font-size: 13px;
  text-align: center;
  width: 100%;
  color: red;
}
.modalImagesBg .galleryImages .galleryImages__header span .error.active {
  opacity: 1;
}
@media (max-width: 488px) {
  .modalImagesBg .galleryImages .galleryImages__header span {
    width: 95%;
  }
}
.modalImagesBg .galleryImages .container-images {
  width: 100%;
  height: 80%;
  overflow-y: hidden;
}
.modalImagesBg .galleryImages .container-images .images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.modalImagesBg .galleryImages .container-images .images::-webkit-scrollbar {
  background-color: transparent;
  height: 10px;
  width: 10px;
}
.modalImagesBg .galleryImages .container-images .images::-webkit-scrollbar-thumb {
  background-color: rgba(134, 133, 133, 0.719);
  border-radius: 20px;
}
.modalImagesBg .galleryImages .container-images .images .box-image {
  position: relative;
  width: 200px;
  height: 200px;
  flex-grow: 1;
}
.modalImagesBg .galleryImages .container-images .images .box-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}
.modalImagesBg .galleryImages .container-images .images .box-image .buttons-image {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  gap: 5px;
  bottom: 0;
  width: 100%;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.24);
}
.modalImagesBg .galleryImages .container-images .images .box-image .buttons-image button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 15px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: "Montserrat", "sans-serif";
  width: auto;
  height: 21px;
  padding: 6px;
}
.modalImagesBg .galleryImages .galleryImages__pagination {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.modalImagesBg .galleryImages .galleryImages__pagination .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.modalImagesBg .galleryImages .galleryImages__pagination .pagination .previousPage, .modalImagesBg .galleryImages .galleryImages__pagination .pagination .nextPage {
  cursor: pointer;
  color: rgba(128, 128, 128, 0.664);
}
.modalImagesBg .galleryImages .galleryImages__pagination .pagination #pageNumberInput {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid grey;
  font-family: "Inter", "sans-serif";
  text-align: center;
  outline: none;
}
.modalImagesBg .galleryImages .galleryImages__pagination .pagination input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.modalImagesBg .galleryImages .galleryImages__pagination .pagination input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}
.modalImagesBg .galleryImages .galleryImages__pagination .pagination #hitsNumber {
  font-family: "Segoe UI", "sans-serif";
  font-weight: 600;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  transition: 0.5s all;
  height: 85vh;
  overflow-x: auto;
  overflow-y: hidden;
}
main::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.2862745098);
  height: 10px;
  width: 10px;
}
main::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.349);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 100px;
}
@media (max-width: 320px) {
  main {
    height: 82vh;
  }
}
@media (max-width: 482px) {
  main {
    margin-top: 100px;
  }
}
main .columnSettings {
  align-self: flex-start;
  width: 100%;
}
@media (max-width: 482px) {
  main .columnSettings {
    text-align: center;
  }
}
main .columnSettings .column__form {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  padding-left: 25px;
}
main .columnSettings .column__form .column__input {
  height: 30px;
  width: 280px;
  text-align: center;
  background-color: rgba(14, 13, 13, 0.13);
  border: none;
  border-radius: 7px;
  color: white;
  font-family: "Montserrat", "sans-serif";
  font-size: 1em;
  outline: none;
}
main .columnSettings .column__form .column__input::-moz-placeholder {
  color: white;
}
main .columnSettings .column__form .column__input::placeholder {
  color: white;
}
main .columnSettings .column__form #column--btn {
  background-color: transparent;
  color: none;
  border: none;
  position: absolute;
  padding-left: 10px;
}
main .columnSettings .column__form .column--icon {
  font-size: 1.8em;
  color: #eeecec;
  cursor: pointer;
}

.modalCard {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
}
.modalCard.active {
  display: flex;
}
.modalCard .cardModal {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  width: 580px;
  height: 210px;
  background-color: #F0F8FF;
}
@media (max-width: 645px) {
  .modalCard .cardModal {
    height: auto;
    width: 85%;
  }
}
@media (max-width: 474px) {
  .modalCard .cardModal {
    width: 80%;
  }
}
.modalCard .cardModal #btnCloseModal {
  cursor: pointer;
  position: absolute;
  color: #172b4d;
  font-size: 20px;
  right: 12px;
  top: 5px;
}
.modalCard .cardModal .columnCard {
  font-family: "Montserrat", "sans-serif";
  color: #172b4d;
  font-size: 30px;
  text-align: center;
}
@media (max-width: 645px) {
  .modalCard .cardModal .card__form {
    text-align: center;
  }
}
.modalCard .cardModal .card__form #card__input {
  width: 570px;
  height: 25px;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 4px;
  padding-left: 10px;
  font-size: 16px;
  color: #13233F;
  font-family: "Inter", "sans-serif";
  outline: none;
}
@media (max-width: 645px) {
  .modalCard .cardModal .card__form #card__input {
    width: 90%;
  }
}
.modalCard .cardModal .cardAttributes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
@media (max-width: 645px) {
  .modalCard .cardModal .cardAttributes {
    justify-content: center;
  }
}
@media (max-width: 474px) {
  .modalCard .cardModal .cardAttributes {
    flex-direction: column;
  }
}
.modalCard .cardModal .cardAttributes .date__attribute {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modalCard .cardModal .cardAttributes .date__attribute #date-label {
  font-family: "Inter", "sans-serif";
  font-size: 15px;
  font-weight: 550;
  color: #172b4d;
}
.modalCard .cardModal .cardAttributes .date__attribute #date-input {
  width: 175px;
  text-align: center;
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  color: #172b4d;
  border: 1px solid #808080;
  border-radius: 6px;
  outline: none;
}
@media (max-width: 645px) {
  .modalCard .cardModal .cardAttributes .date__attribute #date-input {
    width: 90%;
  }
}
@media (max-width: 474px) {
  .modalCard .cardModal .cardAttributes .date__attribute #date-input {
    width: 100%;
  }
}
.modalCard .cardModal .cardAttributes .progressAtributte {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modalCard .cardModal .cardAttributes .progressAtributte p {
  text-align: center;
  font-family: "Inter", "sans-serif";
  font-size: 15px;
  font-weight: 550;
  color: #172b4d;
}
.modalCard .cardModal .cardAttributes .progressAtributte #progressOptions {
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  text-align: center;
  width: 175px;
  color: #172b4d;
  border: 1px solid #808080;
  border-radius: 6px;
  outline: none;
}
@media (max-width: 645px) {
  .modalCard .cardModal .cardAttributes .progressAtributte #progressOptions {
    width: 90%;
  }
}
@media (max-width: 474px) {
  .modalCard .cardModal .cardAttributes .progressAtributte #progressOptions {
    width: 100%;
  }
}
.modalCard .cardModal .cardAttributes .statusAttribute {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modalCard .cardModal .cardAttributes .statusAttribute p {
  text-align: center;
  font-family: "Inter", "sans-serif";
  font-size: 15px;
  font-weight: 550;
  color: #172b4d;
}
.modalCard .cardModal .cardAttributes .statusAttribute #selectStatus {
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  text-align: center;
  width: 175px;
  color: #172b4d;
  border: 1px solid #808080;
  border-radius: 6px;
  outline: none;
}
@media (max-width: 645px) {
  .modalCard .cardModal .cardAttributes .statusAttribute #selectStatus {
    width: 90%;
  }
}
@media (max-width: 474px) {
  .modalCard .cardModal .cardAttributes .statusAttribute #selectStatus {
    width: 100%;
  }
}
.modalCard .cardModal .btnAddCard {
  display: flex;
  gap: 10px;
  justify-content: right;
  margin-top: 1.25em;
}
@media (max-width: 474px) {
  .modalCard .cardModal .btnAddCard {
    justify-content: center;
  }
}
.modalCard .cardModal .btnAddCard .btn-modalCard {
  text-align: center;
  font-size: 16px;
  font-family: "Inter", "sans-serif";
  background-color: #172b4d;
  color: #F0F8FF;
  width: 150px;
  height: 28px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modalEditColumn {
  display: none;
  background-color: rgba(0, 0, 0, 0.1764705882);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: 0.3s all;
}
.modalEditColumn.active {
  display: flex;
}
.modalEditColumn .modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 15px;
  width: 390px;
  height: 120px;
  border-radius: 8px;
  background-color: #F0F8FF;
}
@media (max-width: 430px) {
  .modalEditColumn .modal {
    width: 90%;
  }
}
.modalEditColumn .modal #titleModalEdit {
  font-family: "Inter", "sans-serif";
  font-size: 1.3em;
  color: #172b4d;
  font-weight: 500;
}
.modalEditColumn .modal #editColumn {
  width: 18.75em;
  height: 25px;
  outline: none;
  font-family: "Inter", "sans-serif";
  padding-left: 8px;
  font-size: 19px;
  border: 1px solid #172b4d;
  border-radius: 5px;
  color: #172b4d;
}
@media (max-width: 430px) {
  .modalEditColumn .modal #editColumn {
    width: 95%;
  }
}
.modalEditColumn .modal .closeModalEdit {
  font-size: 30px;
  color: #ff0000;
  cursor: pointer;
  align-self: flex-end;
}
.modalEditColumn .modal .doneModalEdit {
  font-size: 30px;
  color: #1bbb35;
  cursor: pointer;
  align-self: flex-start;
}

.modalEditCard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1647058824);
  z-index: 3;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.modalEditCard.active {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modalEditCard .taskEditModal {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  height: 340px;
  width: 320px;
  border-radius: 10px;
  background-color: white;
}
@media (max-width: 350px) {
  .modalEditCard .taskEditModal {
    width: 90%;
  }
}
.modalEditCard .taskEditModal .taskEditTitle {
  color: #172b4d;
  font-family: "Inter", "sans-serif";
}
.modalEditCard .taskEditModal .fa-xmark {
  cursor: pointer;
  color: #13233F;
  position: absolute;
  font-size: 20px;
  top: 5px;
  right: 10px;
}
.modalEditCard .taskEditModal .task__inputsEdit {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modalEditCard .taskEditModal .task__inputsEdit form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.modalEditCard .taskEditModal .task__inputsEdit form #inputEditCard {
  width: 15em;
  height: 25px;
  outline: none;
  font-family: "Inter", "sans-serif";
  padding-left: 8px;
  font-size: 18px;
  border: 1px solid #172b4d;
  border-radius: 5px;
  color: #172b4d;
}
.modalEditCard .taskEditModal .task__inputsEdit form label {
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  text-align: left;
  color: rgba(23, 43, 77, 0.8705882353);
  width: 100%;
}
.modalEditCard .taskEditModal .taskEdit__attributes {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.modalEditCard .taskEditModal .taskEdit__attributes .taskEdit__date {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.modalEditCard .taskEditModal .taskEdit__attributes .taskEdit__date #date-input {
  width: 175px;
  height: 20px;
  padding: 2px;
  text-align: center;
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  color: #172b4d;
  border: 1px solid #808080;
  border-radius: 6px;
  outline: none;
}
.modalEditCard .taskEditModal .taskEdit__attributes .taskEdit__date span label {
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  text-align: left;
  color: rgba(23, 43, 77, 0.8705882353);
  width: 100%;
}
.modalEditCard .taskEditModal .taskEdit__attributes .taskEdit__progress {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modalEditCard .taskEditModal .taskEdit__attributes .taskEdit__progress p {
  text-align: center;
  font-family: "Inter", "sans-serif";
  font-size: 15px;
  font-weight: 550;
  color: #172b4d;
}
.modalEditCard .taskEditModal .taskEdit__attributes .taskEdit__progress #progressOptions {
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  text-align: center;
  width: 175px;
  color: #172b4d;
  border: 1px solid #808080;
  border-radius: 6px;
  outline: none;
}
.modalEditCard .taskEditModal .taskEdit__attributes .taskEdit__status {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modalEditCard .taskEditModal .taskEdit__attributes .taskEdit__status label {
  text-align: center;
  font-family: "Inter", "sans-serif";
  font-size: 15px;
  font-weight: 550;
  color: #172b4d;
}
.modalEditCard .taskEditModal .taskEdit__attributes .taskEdit__status #taskEditStatus {
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  text-align: center;
  width: 175px;
  color: #172b4d;
  border: 1px solid #808080;
  border-radius: 6px;
  outline: none;
}
.modalEditCard .taskEditModal .area-modalBtnCard {
  display: flex;
  gap: 10px;
  justify-content: right;
  margin-top: 1.25em;
}
.modalEditCard .taskEditModal .area-modalBtnCard .btn-modalCard {
  text-align: center;
  font-size: 16px;
  font-family: "Inter", "sans-serif";
  background-color: #172b4d;
  color: #F0F8FF;
  width: 150px;
  height: 28px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.columnContainer {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  width: 100%;
}
.columnContainer .column {
  display: flex;
  flex-direction: row;
  max-height: 70vh;
  padding: 20px;
  gap: 10px;
}
@media (max-width: 320px) {
  .columnContainer .column {
    padding: 13px;
  }
}
.columnContainer .column .column__components {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  background-color: #E9EBEE;
  border-radius: 12px;
  box-shadow: 1px 1px 5px;
  width: 270px;
  max-height: 65vh;
  padding: 10px;
  position: relative;
}
.columnContainer .column .column__components .column__header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 260px;
}
.columnContainer .column .column__components .column__header .column__title {
  margin-top: 25px;
  font-family: "Montserrat", "sans-serif";
  font-size: 17px;
  text-align: center;
  color: #172b4d;
}
.columnContainer .column .column__components .column__header .btn--column {
  display: flex;
  gap: 6px;
  position: absolute;
  padding-right: 0px;
  right: 0;
  top: 0;
}
.columnContainer .column .column__components .column__header .btn--column .btn--editColumn,
.columnContainer .column .column__components .column__header .btn--column .btn--delColumn {
  cursor: pointer;
  font-size: 17px;
}
.columnContainer .column .column__components .column__header .btn--column .btn--editColumn {
  color: rgb(65, 64, 64);
}
.columnContainer .column .column__components .column__header .btn--column .btn--delColumn {
  color: #ff0000;
}
.columnContainer .column .column__components .taskComponents {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 8px;
  max-height: 560px;
}
.columnContainer .column .column__components .taskComponents::-webkit-scrollbar {
  background-color: #113d80;
  width: 5px;
}
.columnContainer .column .column__components .taskComponents::-webkit-scrollbar-track {
  background-color: #E9EBEE;
  height: 10px;
}
.columnContainer .column .column__components .taskComponents::-webkit-scrollbar-thumb {
  background-color: rgba(87, 86, 86, 0.377);
  border-radius: 5px;
}
.columnContainer .column .column__components .task {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border-radius: 12px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.418);
  color: #172b4d;
  font-family: "Montserrat", "sans-serif";
  font-weight: 400;
  font-size: 12px;
  margin-top: 20px;
  width: 248px;
  height: auto;
  transition: 0.3s ease-in;
}
.columnContainer .column .column__components .task.isHidden {
  display: none;
}
.columnContainer .column .column__components .task h3 {
  font-size: 13px;
  font-weight: 600;
  font-family: "Segoe UI", "sans-serif";
  height: auto;
  margin-top: 14px;
  word-break: keep-all;
  padding: 0px 13px;
}
.columnContainer .column .column__components .task:hover {
  background-color: #F1F2F4;
}
.columnContainer .column .column__components .task .task-header {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.columnContainer .column .column__components .task .task-header p {
  cursor: pointer;
  color: #13233F;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  right: 10px;
  top: -7px;
  z-index: 1;
}
.columnContainer .column .column__components .task .task__options {
  display: flex;
  flex-direction: row;
  gap: 2px;
  position: absolute;
  border-radius: 12px;
  left: 65px;
  top: -6px;
}
.columnContainer .column .column__components .task .task__options li {
  cursor: pointer;
  font-size: "Inter", "sans-serif";
  opacity: 0;
  width: 60px;
  background-color: #113d80;
  border-radius: 5px;
  color: #FFFFFF;
  transition: 0.3s all ease-in-out;
  z-index: -1;
}
.columnContainer .column .column__components .task .task__options li:hover {
  background-color: #8a8989;
  color: white;
}
.columnContainer .column .column__components .task .task__options.active li {
  z-index: 1;
  opacity: 1;
}
.columnContainer .column .column__components .task .task__options .deleteCard:hover {
  background-color: red;
}
.columnContainer .column .column__components .task .task__components {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding-top: 25px;
  padding-right: 5px;
}
.columnContainer .column .column__components .task .task__components .task__atributtes {
  display: flex;
  flex-direction: column;
  padding: 0px 7px;
  padding-bottom: 9px;
  align-items: start;
}
.columnContainer .column .column__components .task .task__components .task__atributtes p {
  width: 100%;
  text-align: left;
  font-weight: 500;
  color: #13233F;
}
.columnContainer .column .column__components .task .task__components .status-att {
  padding: 2px;
  border-radius: 4px;
  color: white;
}
.columnContainer .column .column__components .task .task__components .status-att.pending {
  background-color: rgb(209, 52, 56);
}
.columnContainer .column .column__components .task .task__components .status-att.concluded {
  background-color: rgb(16, 151, 16);
}
.columnContainer .card {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.columnContainer .card .card--btn {
  background-color: transparent;
  display: flex;
  gap: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  color: rgba(23, 43, 77, 0.6901960784);
}
.columnContainer .card .card--btn:hover {
  color: #172b4d;
}/*# sourceMappingURL=style.css.map */