@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@1,200&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

html {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: none;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgb(151, 144, 144);
}

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  background-color: rgba(117, 115, 115, 0.432);
  box-shadow: 0px 0px 5px #000000;
  padding: 0 20px;
  height: auto;
  width: 100%;
  z-index: 2;
}
@media (max-width: 540px) {
  header {
    flex-wrap: wrap;
    padding: 5px 5px;
    gap: 15px;
  }
}
header .h-logo {
  display: flex;
  align-items: center;
}
@media (max-width: 482px) {
  header .h-logo {
    width: 100%;
    justify-content: center;
  }
}
header .h-logo .img__logo {
  width: 40px;
}
@media (max-width: 540px) {
  header .h-logo .img__logo {
    width: 30px;
  }
}
header .h-logo #h-text {
  font-weight: 800;
  font-size: 1.4rem;
  font-family: "Montserrat", "sans-serif";
  color: #ffffff;
}
@media (max-width: 540px) {
  header .h-logo #h-text {
    font-size: 1.2rem;
  }
}
header .settings {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
@media (max-width: 965px) {
  header .settings {
    gap: 15px;
  }
}
header .settings .settings__inputColor {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 65px;
}
header .settings .settings__inputColor .inputColor__icon {
  font-size: 1.4em;
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.486);
}
@media (max-width: 540px) {
  header .settings .settings__inputColor .inputColor__icon {
    font-size: 1.2em;
  }
}
header .settings .settings__inputColor #inputColor--setColor {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 30px;
  height: 32px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 540px) {
  header .settings .settings__inputColor #inputColor--setColor {
    width: 26px;
    height: 28px;
  }
}
header .settings .settings__inputColor #inputColor--setColor::-webkit-color-swatch {
  border: 1px solid rgba(0, 0, 0, 0.144);
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2470588235);
}
header .settings .settings__filter {
  position: relative;
  padding-left: 12px;
  width: 135px;
  height: 30px;
}
header .settings .settings__filter .filterIcon {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 1.3em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.37);
  color: #ffffff;
}
@media (max-width: 540px) {
  header .settings .settings__filter .filterIcon {
    font-size: 1.2em;
  }
}
@media (max-width: 600px) {
  header .settings .settings__filter .filterIcon {
    right: 72px;
  }
}
@media (max-width: 390px) {
  header .settings .settings__filter .filterIcon {
    right: 85px;
  }
}
header .settings .settings__filter #filter__select {
  cursor: pointer;
  color: #ffffff;
  width: 100%;
  height: 30px;
  border: none;
  background-color: transparent;
  border-radius: 8px;
  font-size: 1em;
  font-family: "Montserrat", "sans-serif";
  font-weight: 700;
  text-align: center;
  outline: none;
}
header .settings .settings__filter #filter__select option {
  background-color: #8a8989;
  font-weight: 700;
}
@media (max-width: 540px) {
  header .settings .settings__filter #filter__select {
    font-size: 0.95em;
  }
}
header .settings .settings__imageBackground .btn--setImageBackground {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  font-family: "Montserrat", "sans-serif";
  color: #ffffff;
}
header .settings .settings__imageBackground .btn--setImageBackground .btn__iconImg {
  font-size: 1.3em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.37);
  color: #ffffff;
}
@media (max-width: 540px) {
  header .settings .settings__imageBackground .btn--setImageBackground .btn__iconImg {
    font-size: 1.1em;
  }
}
@media (max-width: 914px) {
  header .settings .settings__imageBackground .btn--setImageBackground p {
    display: none;
  }
}
header nav {
  position: relative;
}
header nav .nav__menuBtn {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
}
header nav .nav__menuBtn .menu--btn {
  font-size: 1.3em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.37);
  color: #ffffff;
  opacity: 1;
  transition: 0.4s ease-in-out;
}
header nav .nav__menuBtn .menu--btn.active {
  opacity: 0;
}
header nav .nav__menuBtn .menu--btnClose {
  opacity: 0;
  font-size: 1.3em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.37);
  color: #ffffff;
  transition: 0.3s ease-in-out;
}
header nav .nav__menuBtn .menu--btnClose.active {
  opacity: 1;
  transform: translateX(-20px);
}
header nav .menu__list {
  position: absolute;
  transform: translateX(400%);
  top: 35px;
  right: 0;
  width: 180px;
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(128, 128, 128, 0.445);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 2px;
  padding: 10px;
  transition: 0.3s ease-in-out;
}
header nav .menu__list.active {
  transform: translateX(0%);
}
header nav .menu__list .menu__link {
  cursor: pointer;
  position: relative;
}
header nav .menu__list .menu__link a {
  font-size: 14px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 800;
  color: #ffffff;
}
header nav .menu__list .menu__link::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #bcbdbe;
  transition: 0.3s ease-in-out;
}
header nav .menu__list .menu__link:hover::after {
  width: 100%;
}
header nav .menu__list .portfolio {
  width: 100%;
  text-align: center;
}
header nav .menu__list .portfolio a {
  position: relative;
  font-size: 12px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 800;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}
header nav .menu__list .portfolio a::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #bcbdbe;
  transition: 0.3s ease-in-out;
}
header nav .menu__list .portfolio a:hover::after {
  width: 100%;
}
@media (max-width: 420px) {
  header nav .menu__list {
    width: 100vw;
    top: 22px;
    right: -15px;
  }
}

main {
  position: relative;
  overflow-x: hidden;
  transition: 0.5s all;
  min-height: 100vh;
  top: 60px;
}
main .InputColumnInsert {
  position: absolute;
  top: 70px;
  padding-left: 20px;
}
main .InputColumnInsert .todo-addcolumn {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  position: relative;
}
main .InputColumnInsert .todo-addcolumn .input-column {
  height: 30px;
  width: 280px;
  text-align: center;
  border: none;
  border-radius: 7px;
  box-shadow: 1px 1px 4px #000000;
  font-family: "Montserrat", "sans-serif";
  font-size: 1em;
}
main .InputColumnInsert .todo-addcolumn .input-column:focus {
  outline: none;
}
main .InputColumnInsert .todo-addcolumn #btn-addcolumn {
  background-color: transparent;
  color: none;
  border: none;
  position: absolute;
  padding-left: 10px;
}
main .InputColumnInsert .todo-addcolumn .iconAddColumn {
  font-size: 1.9em;
  color: #172b4d;
  cursor: pointer;
}

.modalCard {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: 0.3s all;
}
.modalCard.active {
  display: flex;
}
.modalCard .cardModal {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  width: 580px;
  height: 210px;
  background-color: #F0F8FF;
}
.modalCard .cardModal #btnCloseModal {
  cursor: pointer;
  position: absolute;
  color: #172b4d;
  font-size: 20px;
  right: 12px;
  top: 5px;
}
.modalCard .cardModal .ColumnCard {
  font-family: "Montserrat", "sans-serif";
  color: #172b4d;
  font-size: 30px;
  text-align: center;
}
.modalCard .cardModal #todo-card {
  width: 570px;
  height: 25px;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 4px;
  padding-left: 10px;
  font-size: 16px;
  color: #13233F;
  font-family: "Inter", "sans-serif";
  outline: none;
}
.modalCard .cardModal .controll-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.modalCard .cardModal .controll-status .date-concluded {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modalCard .cardModal .controll-status .date-concluded #date-label {
  font-family: "Inter", "sans-serif";
  font-size: 15px;
  font-weight: 550;
  color: #172b4d;
}
.modalCard .cardModal .controll-status .date-concluded #date-input {
  width: 175px;
  text-align: center;
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  color: #172b4d;
  border: 1px solid #808080;
  border-radius: 6px;
}
.modalCard .cardModal .controll-status .area-progress {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modalCard .cardModal .controll-status .area-progress p {
  text-align: center;
  font-family: "Inter", "sans-serif";
  font-size: 15px;
  font-weight: 550;
  color: #172b4d;
}
.modalCard .cardModal .controll-status .area-progress #progressOptions {
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  text-align: center;
  width: 175px;
  color: #172b4d;
  border: 1px solid #808080;
  border-radius: 6px;
}
.modalCard .cardModal .controll-status .area-priority {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modalCard .cardModal .controll-status .area-priority p {
  text-align: center;
  font-family: "Inter", "sans-serif";
  font-size: 15px;
  font-weight: 550;
  color: #172b4d;
}
.modalCard .cardModal .controll-status .area-priority #priorityCard {
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  text-align: center;
  width: 175px;
  color: #172b4d;
  border: 1px solid #808080;
  border-radius: 6px;
}
.modalCard .cardModal .area-modalBtnCard {
  display: flex;
  gap: 10px;
  justify-content: right;
  margin-top: 1.25em;
}
.modalCard .cardModal .area-modalBtnCard .btn-modalCard {
  text-align: center;
  font-size: 16px;
  font-family: "Inter", "sans-serif";
  background-color: #172b4d;
  color: #F0F8FF;
  width: 150px;
  height: 28px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modalEditColumn {
  display: none;
  background-color: rgba(0, 0, 0, 0.1764705882);
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: 0.3s all;
}
.modalEditColumn.active {
  display: flex;
}
.modalEditColumn .modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 15px;
  width: 390px;
  height: 120px;
  border-radius: 8px;
  background-color: #F0F8FF;
}
.modalEditColumn .modal #titleModalEdit {
  font-family: "Inter", "sans-serif";
  font-size: 1.3em;
  color: #172b4d;
  font-weight: 500;
}
.modalEditColumn .modal #editColumn {
  width: 18.75em;
  height: 25px;
  outline: none;
  font-family: "Inter", "sans-serif";
  padding-left: 8px;
  font-size: 19px;
  border: 1px solid #172b4d;
  border-radius: 5px;
  color: #172b4d;
}
.modalEditColumn .modal .closeModalEdit {
  font-size: 30px;
  color: #ff0000;
  cursor: pointer;
  align-self: flex-end;
}
.modalEditColumn .modal .doneModalEdit {
  font-size: 30px;
  color: #1bbb35;
  cursor: pointer;
  align-self: flex-start;
}

.modalEditCard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1647058824);
}
.modalEditCard.active {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modalEditCard .cardEdit {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  height: 340px;
  width: 320px;
  border-radius: 10px;
  background-color: white;
}
.modalEditCard .cardEdit .textCard {
  color: #172b4d;
  font-family: "Inter", "sans-serif";
}
.modalEditCard .cardEdit #closeEditModal {
  cursor: pointer;
  color: #172b4d;
  position: absolute;
  font-size: 20px;
  top: 5px;
  right: 10px;
}
.modalEditCard .cardEdit .box-inputEditModal {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modalEditCard .cardEdit .box-inputEditModal form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.modalEditCard .cardEdit .box-inputEditModal form #inputEditCard {
  width: 15em;
  height: 25px;
  outline: none;
  font-family: "Inter", "sans-serif";
  padding-left: 8px;
  font-size: 18px;
  border: 1px solid #172b4d;
  border-radius: 5px;
  color: #172b4d;
}
.modalEditCard .cardEdit .box-inputEditModal form label {
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  text-align: left;
  color: rgba(23, 43, 77, 0.8705882353);
  width: 100%;
}
.modalEditCard .cardEdit .inputs-controlls {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.modalEditCard .cardEdit .inputs-controlls .date-concluded {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.modalEditCard .cardEdit .inputs-controlls .date-concluded #date-input {
  width: 175px;
  height: 20px;
  padding: 2px;
  text-align: center;
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  color: #172b4d;
  border: 1px solid #808080;
  border-radius: 6px;
}
.modalEditCard .cardEdit .inputs-controlls .date-concluded span label {
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  text-align: left;
  color: rgba(23, 43, 77, 0.8705882353);
  width: 100%;
}
.modalEditCard .cardEdit .inputs-controlls .area-progress {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modalEditCard .cardEdit .inputs-controlls .area-progress p {
  text-align: center;
  font-family: "Inter", "sans-serif";
  font-size: 15px;
  font-weight: 550;
  color: #172b4d;
}
.modalEditCard .cardEdit .inputs-controlls .area-progress #progressOptions {
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  text-align: center;
  width: 175px;
  color: #172b4d;
  border: 1px solid #808080;
  border-radius: 6px;
}
.modalEditCard .cardEdit .inputs-controlls .area-priority {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modalEditCard .cardEdit .inputs-controlls .area-priority p {
  text-align: center;
  font-family: "Inter", "sans-serif";
  font-size: 15px;
  font-weight: 550;
  color: #172b4d;
}
.modalEditCard .cardEdit .inputs-controlls .area-priority #priorityCard {
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  text-align: center;
  width: 175px;
  color: #172b4d;
  border: 1px solid #808080;
  border-radius: 6px;
}
.modalEditCard .cardEdit .area-modalBtnCard {
  display: flex;
  gap: 10px;
  justify-content: right;
  margin-top: 1.25em;
}
.modalEditCard .cardEdit .area-modalBtnCard .btn-modalCard {
  text-align: center;
  font-size: 16px;
  font-family: "Inter", "sans-serif";
  background-color: #172b4d;
  color: #F0F8FF;
  width: 150px;
  height: 28px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.todo--container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.todo--container .todo-column {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-top: 150px;
  padding: 20px;
  gap: 60px;
}
.todo--container .todo-column .column--components {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  background-color: #E9EBEE;
  width: 300px;
  height: 350px;
  border-radius: 12px;
  box-shadow: 1px 1px 5px;
  padding: 10px;
  position: relative;
}
.todo--container .todo-column .column--components .header-column {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 300px;
}
.todo--container .todo-column .column--components .header-column .column-title {
  margin-top: 12px;
  font-family: "Montserrat", "sans-serif";
  font-size: 17px;
  text-align: center;
  color: #172b4d;
}
.todo--container .todo-column .column--components .header-column .btn--column {
  display: flex;
  gap: 6px;
  position: absolute;
  padding-right: 0px;
  right: 0;
  top: 0;
}
.todo--container .todo-column .column--components .header-column .btn--column .btn-cardEditColumn,
.todo--container .todo-column .column--components .header-column .btn--column .btn-cardDelColumn {
  cursor: pointer;
  font-size: 17px;
}
.todo--container .todo-column .column--components .header-column .btn--column .btn-cardEditColumn {
  color: rgb(65, 64, 64);
}
.todo--container .todo-column .column--components .header-column .btn--column .btn-cardDelColumn {
  color: #ff0000;
}
.todo--container .todo-column .column--components .cardDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 40px;
}
.todo--container .todo-column .column--components .cardDiv::-webkit-scrollbar {
  background-color: #113d80;
  width: 2px;
}
.todo--container .todo-column .column--components .cardDiv::-webkit-scrollbar-track {
  background-color: #E9EBEE;
  height: 10px;
}
.todo--container .todo-column .column--components .cardDiv::-webkit-scrollbar-thumb {
  background-color: rgba(87, 86, 86, 0.377);
  border-radius: 50%;
}
.todo--container .todo-column .column--components .card {
  position: relative;
  background-color: #FFFFFF;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  width: 250px;
  height: auto;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2666666667);
  border-radius: 10px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  color: #172b4d;
  transition: 0.3s ease-in;
}
.todo--container .todo-column .column--components .card h3 {
  font-size: 14px;
  font-weight: 400;
  font-family: "Segoe UI", "sans-serif";
  height: auto;
  word-break: keep-all;
}
.todo--container .todo-column .column--components .card:hover {
  background-color: #F1F2F4;
}
.todo--container .todo-column .column--components .card .card-header {
  position: relative;
  display: flex;
  width: 100%;
  height: 70px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.todo--container .todo-column .column--components .card .card-header p {
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: -15px;
  z-index: 1;
}
.todo--container .todo-column .column--components .card .box-OptionsCard {
  display: flex;
  flex-direction: row;
  gap: 2px;
  position: absolute;
  border-radius: 12px;
  left: 80px;
  top: -6px;
}
.todo--container .todo-column .column--components .card .box-OptionsCard li {
  font-size: "Inter", "sans-serif";
  opacity: 0;
  width: 60px;
  background-color: #113d80;
  border-radius: 5px;
  color: #FFFFFF;
  transition: 0.3s all ease-in-out;
  z-index: -1;
}
.todo--container .todo-column .column--components .card .box-OptionsCard li:hover {
  background-color: #8a8989;
  color: white;
}
.todo--container .todo-column .column--components .card .box-OptionsCard.active li {
  z-index: 1;
  opacity: 1;
}
.todo--container .todo-column .column--components .card .card-components {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding-top: 8px;
  padding-right: 5px;
}
.todo--container .todo-column .column--components .card .card-components .card-status {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.todo--container .todo-add {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.todo--container .todo-add .btn--todoadd {
  display: flex;
  gap: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  color: rgba(23, 43, 77, 0.7882352941);
}
.todo--container .todo-add .btn--todoadd:hover {
  color: #172b4d;
}/*# sourceMappingURL=style.css.map */